@charset "utf-8";

html, body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, tbody, tfoot, thead, th, td, table, select, address, hr, i, button, em {margin:0; padding:0; font-family:"Roboto", "Dotum", "Arial"; font-style:normal;}
html, body {height:100%;}
body {font-size:18px; color:#707070;}
ul, ul > li {list-style:none;}
img, fieldset, form {border:0;}
a {display:block; color:#707070;}
a:focus {outline:none;}
a, a:hover, a:hover, a:active, a:visited {text-decoration:none;}
h1, h2, h3, h4, h5, h6, strong, em {font-weight:bold;}
img {vertical-align:top;}
input[type="text"],
textarea {border:0; padding:10px;}
textarea {resize:none;}
button {display:block; border:0; cursor:pointer; background:none;}

#wrap {position:relative; height:100%; min-height:700px; background:#1c1c21 no-repeat 50% 0; text-align:center;}
.popup {position:absolute; top:50%; left:50%; box-sizing:border-box; width:990px; height:700px; margin:-350px 0 0 -495px; background:#fff; vertical-align:middle; border-radius:30px; padding:0 30px;}
.popup h1 {height:110px; line-height:110px;}
.popup h1 img {vertical-align:middle;}
.popup .textbox {height:470px; line-height:22px; text-align:left; background:#f3f3f3; color:#000;}
.textbox .mCSB_container {padding:30px;}
.textbox .mCSB_scrollTools {top:10px; bottom:10px; width:26px;}
.textbox .mCSB_dragger_bar {background-color:#ccc !important;}
.textbox .mCSB_scrollTools .mCSB_dragger {height:50px !important;}
.textbox .mCSB_draggerRail {display:none;}
.textbox .noti {font-size:21px; margin-bottom:30px;}
.textbox .sub_tit {margin-top:30px;}
.textbox .sub_tit strong {font-size:21px;}
.textbox .center {text-align:center; padding-bottom:10px;}
.textbox .center p + p {margin-top:10px;}
.textbox p + p {margin-top:15px;}
.textbox ol {padding-left:50px; margin:10px 0;}
.textbox ol li + li {margin-top:10px;}
.btn_close {width:90px; height:60px; line-height:60px; background:#ff6649; margin:30px auto 0; border-radius:12px;}
.btn_close img {margin-top:21px;}