@charset 'UTF-8';

@font-face{
font-family:'LGSmHaL'; 
src:url("./fonts/LGSmHaL.eot"); 
src:local("?"),
url("./fonts/LGSmHaL.woff") format("woff"),
url("./fonts/LGSmHaL") format("svg");
font-weight:normal;
font-style:normal;
font-variant:normal;
}

@font-face{
font-family:'LGSmHaR';
src:url("./fonts/LGSmHaR.eot");
src:local("?"),
url("./fonts/LGSmHaR.woff") format("woff"),
url("./fonts/LGSmHaR.svg#BryantLGRegular") format("svg");
font-weight:normal;
font-style:normal;
font-variant:normal;
}
@font-face{
font-family:'LGSmHaB'; 
src:url("./fonts/LGSmHaB.eot");
src:local("?"),
url("./fonts/LGSmHaB.woff") format("woff"),
url("./fonts/LGSmHaB.svg#BryantLGLight") format("svg");
font-weight:normal;
font-style:normal;
font-variant:normal;
}

@font-face{
font-family:'LGSmHaSB';
src:url("./fonts/LGSmHaSB.eot");
src:local("?"),
url("./fonts/LGSmHaSB.woff") format("woff"),
url("./fonts/LGSmHaSB.svg#BryantLGRegular") format("svg");
font-weight:normal;
font-style:normal;
font-variant:normal;
}
 