.forumArea {padding:10px 20px 0 0;}
.tbl_forum1 {border-top:2px solid #d80546;width:100%;}
.tbl_forum1 th {font-weight:bold;background:#f5f5f5;border-bottom:2px solid #c4c4c4;padding:10px 5px;text-align: center;overflow:hidden;}
.tbl_forum1 td {padding:10px 5px;text-align:center; border-bottom: 1px solid #dedede;line-height:150%;overflow:hidden;vertical-align:middle;word-break:break-word}
.tbl_forum1 td.text_al {font-weight:bold;text-align:left;}
.tbl_forum1 td.al_txt {text-align:left;}
.tbl_forum1 td.text_ac {text-align:center;}
.tbl_forum1 td a {display:inline-block;color:#5d5c5c !important;outline:none !important;}
.tbl_forum1 td a:hover {color:#222 !important;}
.tbl_forum1 tr.even {background:#f5f5f5}

.tbl_message_list {clear:both;width:100%;padding:10px 0 0}
.tbl_message_list table {border-top:2px solid #d80546;width:100%;}
.tbl_message_list th {font-weight:bold;background:#f5f5f5;border-bottom:1px solid #c4c4c4;padding:5px 10px;text-align: center;overflow:hidden;}
.tbl_message_list td {padding:5px 10px;text-align:center;font-size:14px !important;border-bottom: 1px solid #dedede;line-height:1.4em;overflow:hidden;vertical-align:middle;word-break:break-word}
.tbl_message_list td a {display:inline-block;color:#5d5c5c !important;outline:none !important;}
.tbl_message_list td a:hover {color:#222 !important;}
.tbl_message_list td.meleft {text-align: left;}
.tbl_message_list tr.even {background:#f5f5f5}

.pregress_txt{background-color: #fff;border-color: #e4e8ed;color: #4a6785;border: 1px solid #ccc;border-radius: 3px;display: inline-block;
    font-size: 11px; line-height: 99%;margin: 0;padding: 3px 5px 2px;text-align: center; text-decoration: none;text-transform: uppercase;vertical-align:middle}

.discussion-btn {cursor: pointer;display: inline-block;width: auto;height: auto;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    padding: 4px 10px 4px;margin-bottom: 0;font-size: 13px;line-height: 18px;color: #333 !important;
    text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);vertical-align: middle;background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;border: 1px solid #ccc;border-radius: 4px;font-family: LGSmHaSB !important;}
.discussion-btn a {color: #333 !important;}

*.ccm-spacer {clear: both; font-size:1px; line-height:1px; }
div.cm_pagination { text-align:center;position: relative;margin-top:20px}
div.cm_pagination span.cm-page-right {position: absolute; top: 0px; right: 0px; margin-right: 0px !important}
div.cm_pagination span.cm-page-right a {color:#c8135c !important;}
div.cm_pagination span.cm-page-left {position: absolute; top: 0px; left: 0px;}
div.cm_pagination span.cm-page-left a {color:#c8135c !important;}
div.cm_pagination span {margin:0 3px;padding:3px;}
div.cm_pagination span a {color:#5d5c5c !important;}
div.cm_pagination span a:hover {color:#000 !important;}
div.cm_pagination span.active {color:#c8135c !important;}

.ccm-ui div.cm_pagination span {margin-right: 0px;}

div.ccm-discussion-messageArea h3 {font-family: 'LGSmHaSB' !important;padding-bottom: 10px;margin-bottom: 10px;border-bottom: 1px solid #dedede !important;}
.ccm-discussion-message img {max-width:auto !important;height:auto; }
.ccm-discussion-message {background-color: transparent;}
.ccm-discussion-add-attachment { border:1px solid #5d5c5c;text-align: center;cursor: default;background-color: buttonface;padding: 2px 6px 3px;font-size: 1em;color:#5d5c5c !important; }
.ccm-discussion-remove-attachment {display: inline-block;width:20px;height:20px;margin-top:10px;background:url(../images/minus.png) no-repeat;}

div.ccm-discussion-field {clear:both;margin-top:10px;}
div.ccm-discussion-field input, div.ccm-discussion-field label, div.ccm-discussion-field span   {vertical-align:middle;}

.ccm-top-title {float:left;font-weight:bold;}
.ccm-top-status {float:right; background-color: transparent; padding: 0px; font-weight: normal}

tr.ccm-discussion-topic {clear:both;}
tr.ccm-discussion-topic td {background-color: #F1F1F1;vertical-align:middle;word-break:break-word}
tr.ccm-discussion-topic td h4 {font-size:14px;}
tr.ccm-discussion-topic div.ccm-discussion-message-info {background-color: #f1f1f1; font-size: 14px; padding:8px !important;border-top: 1px dotted #afafaf; margin-top: 10px;}
tr.ccm-discussion-topic div.ccm-discussion-message-info span {display:inline-block;width:50%;}
tr.ccm-discussion-topic div.ccm-discussion-message-info span.fR {text-align:right;}

td.avatar {text-align:center;}
td.avatar img.cmu-avatar {display:block;border:2px solid #cecece;width:80px;height:80px;margin:8px auto 8px;}

td.ccm-discussion-message {text-align:left;word-break:break-word !important;}
td.ccm-discussion-message h3 {font-size:18px; line-height:16px;margin-bottom: 0px;color:#333 !important;}
td.ccm-discussion-message p {padding:5px 0;word-break:break-word !important;}

td.ccm-discussion-replies {height:2px;text-align: left !important; border-top: 2px solid #d80546;border-bottom:0px !important;background:#fff;padding:0 0 !important;}

div.ccm-discussion-message-info {padding:8px !important;margin-top: 8px; background-color: #efefef; font-size: 12px}
div.ccm-discussion-message-tags {font-size: 12px; line-height: 12px; }
.code-block{display: block;padding:5px 10px !important;margin:0 !important;font-size: 13px !important;line-height: 20px; word-break: break-all; word-wrap: break-word; white-space: pre-wrap;
		    background-color: #f5f5f5;border: 1px solid #e5e5e5 !important;overflow:hidden;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}


.forumbutton {cursor: pointer; display: inline-block; width: auto; height: auto;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    padding: 4px 10px 4px !important;margin-bottom: 0;font-size: 13px;line-height: 18px; color: #333 !important;text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);vertical-align: middle;background-color: #f5f5f5; background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;border: 1px solid #cccccc;border-radius: 4px !important;-webkit-border-radius: 4px !important;-moz-border-radius: 4px !important;font-family: 'LGSmHaSB' !important;}

.forum_smallbutton{cursor: pointer;-webkit-appearance: button;display: inline-block;width: auto;height: auto;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    padding: 4px 5px !important;margin-bottom: 0;font-size: 13px;line-height: 13px;color: #333 !important;text-align: center;vertical-align: middle;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);background-color: #f5f5f5; background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;border: 1px solid #cccccc;border-radius: 4px !important;-webkit-border-radius: 4px !important;-moz-border-radius: 4px !important;} 


.ccm-message-attachments {padding:20px 0 0;}
.ccm-message-attachments img {display:inline-block;padding-right:5px}
.ccm-discussion-add-attachment {}

.ccm-discussion-field input[type=text], .ccm-discussion-field input[type=password] {height:24px; padding:2px 5px; border:1px solid #9e9d9d;font-weight:normal;font-size:14px;}
.ccm-discussion-field input[type=text]:focus, .ccm-discussion-field input[type=password]:focus {border-bottom:1px solid #9e9d9d;font-weight:normal}
.ccm-discussion-field label, .ccm-discussion-field input{vertical-align:top;}
.category_right {text-align:right;float:right;width:70%;}
.category_right:after {clear:both;display:block;}
.category_right select {display:inline-block;text-align:left;}

.tbl_forum2 {padding:10px 0}
.tbl_forum2 table {width:100%;}
.tbl_forum2 table th, .tbl_forum2 table td {border:0 none;padding:5px 0;overflow:hidden;text-align:left;vertical-align:middle;line-height:100%;}
.tbl_forum2 table td {word-break:break-word}
.tbl_forum2 table td input {height:25px; padding:1px 5px; border:1px solid #9e9d9d;}

.bbEditorToolbar{ position:relative; width:100%; height: auto; left:0px; top:0px }
.bbEditorToolbar img.bbEditorButton{ cursor:pointer;display:inline-block; }
.bbEditorEmoticonSelector{ position:absolute; width: 100px; height:auto; right:20px; top: 25px; background:#f1f1f1; border:1px solid #999; padding:4px; display:none }
.bbEditorEmoticonSelector img.bbEditorEmoticon{ margin:0px 4px !important; cursor: pointer;display:inline-block; }

.ccm-forum-search {clear:both;margin-top:20px;background:#f7f7f7;border-top:2px solid #5d5c5c;width:100%;padding:30px 15px;overflow:hidden;}
.ccm-forum-search h4 {font-size:18px;}
.ccm-forumsearch-type {border-bottom:1px solid #e6e6e6;padding:5px 0 14px;overflow:hidden;margin:10px 0}
.ccm-forumsearch-type select {border:1px solid #ccc;height:24px;padding:2px;color:#9c9999 !important;}
.ccm-forumsearch-type .cm-input-text {border:1px solid #ccc;height:24px;padding:2px 5px;font-weight:normal;font-size:14px;}
.ccm-forumsearch-type .cm-input-text:focus {border-bottom:1px solid #ccc;font-weight:normal}
.chosen-select {border:1px solid #ccc;}
.forumsearch_btn {text-align:right;padding:10px 0 0}

.ccm-discussion-subject-error.bgGray {background: #f2dede;padding:10px 0 10px 10px;}
.ccm-discussion-message-error.bgGray {background: #f2dede;padding:10px 0 10px 10px;}
.ccm-discussion-file-error.bgGray {background: #f2dede;padding:10px 0 10px 10px;}


.ccm-discussion-message-attachments {}
.ccm-discussion-message-attachments dl.attamm {margin:10px 0;}
.ccm-discussion-message-attachments dl.attamm dt {display:inline-block;vertical-align:top;width:20%;}
.ccm-discussion-message-attachments dl.attamm dd {display:inline-block;vertical-align:top;word-break:break-word}
.ccm-discussion-message-attachments dl.attamm dd p {vertical-align:top;padding:0 0 !important;}
.ccm-discussion-message-attachments dl.attamm dd span {display:block;margin:0;padding:0 0 3px;vertical-align:top;}

/******* media query *******/
@media all and (min-width: 769px) and (max-width: 1024px) {
	.tbl_forum1 th, .tbl_forum1 td {padding:8px 4px;line-height:15px;}
	.tbl_forum1 th, .tbl_forum1 td, .tbl_forum1 td a {font-size:14px;}

	.tbl_message_list th, .tbl_message_list td, .tbl_message_list td a {font-size:14px;}
	.tbl_message_list th, .tbl_message_list td {padding:4px 8px;line-height:15px;}
	
}

@media all and (min-width: 0) and (max-width: 768px) {
	body .ccm-page, .ccm-page p, .ccm-page li, .ccm-page td, .ccm-page textarea {font-family:'LGSmHaR';font-size:12px;}
	input[type='text'], input[type='search'] {font-size:12px;}

	.tbl_forum1 th, .tbl_forum1 td {padding:8px 4px;font-size:12px;line-height:15px;}
	.tbl_forum1 td a {font-size:12px;}

	.tbl_message_list th, .tbl_message_list td {padding:4px 8px;font-size:12px;line-height:15px;}
	.tbl_message_list td a {font-size:12px;}
	
	.ccm-discussion-subject-error.bgGray {background: #f2dede;padding:8px 0 8px 8px;}
	.ccm-discussion-message-error.bgGray {background: #f2dede;padding:8px 0 8px 8px;}
	.ccm-discussion-file-error.bgGray {background: #f2dede;padding:8px 0 8px 8px;}

	td.avatar img.cmu-avatar {width:80%;height:auto;}
	div.ccm-discussion-message-info {font-size:12px;}
}