html, body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	border: none;
}

body {
	background-color: #000000;
}

ul, li, ol {
	padding: 0px;
	margin: 0px;
	border: 0px;
	list-style: none;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.p-0 {
	padding: 0px;
}

.p-5 {
	padding: 5px;
}

.p-10 {
	padding: 10px;
}

.p-15 {
	padding: 15px;
}

.main-color {
	color: #FF8837;
}

.btn-registration {
	width: 201px;
	height: 54px;
	background-image: url('../images/btn_registration_nor.png');
	background-repeat: no-repeat;
	background-size: 201px 54px;
	background-color: transparent;
	border: none;
	border-radius: 0px;
}

.btn-registration:active {
	background-image: url('../images/btn_registration_pre.png');
}

.btn-set-network {
	width: 186px;
	height: 54px;
	background-image: url('../images/btn_setnetwork_nor.png');
	background-repeat: no-repeat;
	background-size: 186px 54px;
	background-color: transparent;
	border: none;
	border-radius: 0px;
}

.btn-set-network:active {
	background-image: url('../images/btn_setnetwork_pre.png');
}

.btn-popup-confirm-ok {
	width: 60px;
	height: 40px;
	background-image: url('../images/popup_btn_confirm.png');
	background-repeat: no-repeat;
	background-size: 60px 40px;
	background-color: transparent;
	border: none;
	border-radius: 0px;
}

.btn-popup-confirm-ok:active {
	background-image: url('../images/popup_btn_confirm_pre.png');
}

.btn-single.selected, .btn-single.selected:active {
	width: 228px;
	height: 150px;
	background-image: url('../images/btn_single_pre.png');
	background-repeat: no-repeat;
	background-size: 228px 150px;
	background-color: transparent;
	border: none;
	border-radius: 0px;
}

.btn-direction-landscape.selected, .btn-direction-landscape.selected:active {
	width: 228px;
	height: 150px;
	background-image: url('../images/btn_horizontal_pre.png');
	background-repeat: no-repeat;
	background-size: 228px 150px;
	background-color: transparent;
	border: none;
	border-radius: 0px;
}

.btn-direction-landscape, .btn-direction-landscape:active {
	width: 180px;
	height: 120px;
	background-image: url('../images/btn_horizontal_none.png');
	background-size: 180px 120px;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	border-radius: 0px;
}

.btn-direction-portrait.selected, .btn-direction-portrait.selected:active {
	width: 228px;
	height: 150px;
	background-image: url('../images/btn_vertical_pre.png');
	background-repeat: no-repeat;
	background-size: 228px 150px;
	background-color: transparent;
	border: none;
	border-radius: 0px;
	margin-left: 5px;
}

.btn-direction-portrait, .btn-direction-portrait:active {
	width: 180px;
	height: 120px;
	background-image: url('../images/btn_vertical_none.png');
	background-repeat: no-repeat;
	background-size: 180px 120px;
	background-color: transparent;
	border: none;
	border-radius: 0px;
	margin-left: 5px;
}

.btn-next {
	width: 111px;
	height: 111px;
	background-image: url('../images/btn_next.png');
	background-repeat: no-repeat;
	background-size: 111px 111px;
	background-color: transparent;
	border: none;
	border-radius: 0px;
}

.btn-next:active {
	background-image: url('../images/btn_next_pre.png');
}

.btn-back {
	width: 111px;
	height: 111px;
	background-image: url('../images/btn_back.png');
	background-repeat: no-repeat;
	background-size: 111px 111px;
	background-color: transparent;
	border: none;
	border-radius: 0px;
}

.btn-back:active {
	background-image: url('../images/btn_back_pre.png');
}

.btn-complete {
	width: 186px;
	height: 54px;
	background-image: url('../images/btn_complete_nor.png');
	background-repeat: no-repeat;
	background-size: 186px 54px;
	background-color: transparent;
	border: none;
	border-radius: 0px;
}

.btn-complete:active {
	background-image: url('../images/btn_complete_pre.png');
}

.btn-start {
	width: 234px;
	height: 54px;
	background-image: url('../images/btn_start_nor.png');
	background-repeat: no-repeat;
	background-size: 234px 54px;
	background-color: transparent;
	border: none;
	border-radius: 0px;
}

.btn-start:active {
	background-image: url('../images/btn_start_pre.png');
}

.btn-edit-equipment {
	width: 141px;
	height: 42px;
	background-image: url('../images/btn_device_set_nor.png');
	background-repeat: no-repeat;
	background-size: 141px 42px;
	background-color: transparent;
	border: none;
	border-radius: 0px;
	display: none;
}

.btn-edit-equipment:active {
	background-image: url('../images/btn_device_set_pre.png');
}

ul.settingTabs > li {
	float: left;
	position: relative;
	display: block;
	width: 198px;
	height: 87px;
	text-align: center;
}

ul.settingTabs > li.press {
	background-image: url('../images/tab_press1.png');
	background-repeat: no-repeat;
	background-size: 198px 87px;
	background-color: transparent;
}

ul.settingTabs > li > a {
	color: #7F7D91;
	padding: 27.5px 15px;
	position: relative;
	display: block;
	line-height: 1.42857143;
	background-color: #ffffff;
}

ul.settingTabs > li.press > a {
	color: #FFFFFF;
	padding: 27.5px 15px;
	position: relative;
	display: block;
	line-height: 1.42857143;
	background-color: transparent;
}




ul.settingTabs.edit > li {
	float: left;
	position: relative;
	display: block;
	width: 330px;
	height: 87px;
	text-align: center;
}

ul.settingTabs.edit > li.press {
	background-image: url('../images/tab_press2.png');
	background-repeat: no-repeat;
	background-size: 330px 87px;
	background-color: transparent;
}

ul.settingTabs.edit > li > a {
	color: #7F7D91;
	padding: 27.5px 15px;
	position: relative;
	display: block;
	line-height: 1.42857143;
	background-color: #ffffff;
}

ul.settingTabs.edit > li.press > a {
	color: #FFFFFF;
	padding: 27.5px 15px;
	position: relative;
	display: block;
	line-height: 1.42857143;
	background-color: transparent;
}
